$default-color : #0984e3;
$default-font : 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    font-family: $default-font;

    &.noto{
        font-family: 'Noto Sans', sans-serif;
    }

    &.open{
        font-family: 'Open Sans', sans-serif;
    }

    &.oswald{
        font-family: 'Oswald', sans-serif;
    }

    &.roboto{
        font-family: 'Roboto Serif', sans-serif;
    }
}



.page{
    min-height: 100vh;
    
    .content-area{
        width: calc(100% - 250px);
        //min-width: 100vh;
        min-height: 100vh;
        transition: 0.3s;
        background-color: #f2f4f5;
        
        float: right;
        will-change: width;

        &.no-sidebar{
            width: 100%;
        }
    }

    .page-head{
        padding: 10px;
        margin-top: 10px;
        .page-title{
            font-weight: bold;
            color: $default-color;
        }
        

    }

}