.header{
    
    background-color: #fff;
    padding: 20px;

    .header-icon{
        padding: 10px;
        border-radius: 45%;
        margin-left: 8px;
        cursor: pointer;
        
    }
    .notification-container{
        //margin-left: 15px;
        display: inline-block;
        padding: 10px;
        


    

        .dropdown-menu{
            min-width: 30rem;
            top: 5px !important;
            border: none;
            
            &:before{
                content: "";
                position: absolute;
                top: -12px;
                left: 6.5px;
                border-width: 10px;
                border-color: transparent transparent #212529 transparent;
                border-style: solid;
            }


            .noti-header{
                background-color: #212529;
                color: #fff;
                padding: 10px;
   
                >span{
                    float: right;
                }
            }

            .noti-content{
                padding: 20px;
                ul{
                    li{
                        padding: 10px;
                        &:first-child{
                            padding-top: 0;
                     
                        }

                        &:last-child{
                            padding-bottom: 0;
                            margin-bottom: 0;
                            border-bottom: 0;
                        }
                        i{
                            padding: 10px;
                            
                            //border-radius: 50%;
                            font-weight: bold;
                            font-size: 15px;
                            margin-bottom: 10px;
                            margin-right: 10px;
                            line-height: 25px;
                            text-align: center;
                            position: relative;
                            width: 45px;
                            height: 45px;
                            top: -2px;

                            
                        }


                        .fa-air-freshener{
                            background-color: #939393;
                            color: blueviolet;
                        }

                        .fa-thumbs-up{
                            background-color: #c38e8e;
                            color: #869ad3;
                        }

                        .fa-money-bill-alt{
                            background-color: #4c8d40;
                            color: #2f4881;
                        }

                        .fa-fantasy-flight-games{
                            background-color: #dfca33;
                            color: #8a2be2;
                        }
                    }
                }
                
            }

            .noti-footer{
                a{
                    display: block;
                    text-decoration: none;
                    padding: 10px;
                    text-transform: capitalize;
                    &:hover{
                        text-decoration: none;
                        border: .2px solid rgb(85, 85, 133);
                    }
                }
                
            }
        }
    }

    .user-container{

        float: right;
        padding: 10px;
    
        .dropdown-menu{
            min-width: 600px;
            top: 5px !important;
            
            border: none;
            padding: 20px;
            &:before{
                content: "";
                position: absolute;
                top: -12px;
                right: 198px;
                border-width: 10px;
                border-color: transparent transparent #212529 transparent;
                border-style: solid;
            }

            .user-info{
                h3{
                    font-weight: bold;
                    text-transform: capitalize;
                    padding: 5px 0;
                    color: $default-color;
                }
            }

            .activites-list{
                li{
                    padding: 10px;
                    line-height: 20px;
                    &:before{
                        content: "";
                        position: absolute;
                        border-radius: 50%;
                        border: 3px solid #000;
                        width: 12px;
                        height: 12px;
                        left: 3px;
                        margin-top: 4px;
                    }
                    
                   
                }
               
            }

            .user-ControlPanel{
                .user-links{
                    text-align: center;
                    cursor: pointer;
                    .fa-cog{
                        color: #3e5079;
                    }

                    .fa-user{
                        color: #4aad90;
                    }

                    .fa-power-off{
                        color: #ee7a6b;
                    }
                }
            }


        }
        .avatar{
            width: 40px;
            height: 40px;
        }

        span{
            margin-left: 15px;
        }

        .fa-angle-down{
            margin-left: 5px;
        }

        
    }
    
    .fa-exchange-alt{
        font-size: 1em;
        &:hover{
            cursor: pointer;
            color: $default-color;
        }
    }
}

