.settings-box.hide-settings


    i.fas.fa-cog.toggle-settings
    .settings-content
        .colors-settings 
            h3 colors settings
        .sidebar-settings 
            h3 sidebar settings
        .header-settings 
            h3 header settings
    